@charset "utf-8";
/* CSS Document */

body {
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#004574,endcolorstr=#175f8f,gradientType=0);
}

A:link {
	COLOR: #a9dcff; TEXT-DECORATION: none
}

A:visited {
	COLOR: #a9dcff; TEXT-DECORATION: none
}

#CenterAreaBg {
	float: left;
	background: url(images/login_bg.gif) repeat-x;
	width: 100%; 
	height: 569px;
}

#CenterArea {
	position: absolute; 
	left: 200px;
	float: left;
	background: url(images/login.gif) no-repeat;
	height: 569px;
	width: 776px;
}

#LogoImg {
	padding-left: 180px;
	padding-top: 200px;
	float: left;
	width: 100%;
}

#LoginInfo {
	padding-top: 30px;
	padding-left: 180px;
	float: left;
	width: 360px;
	height: 145px;
}

#LoginInfo tr {
	height: 23px;
}

.Subject {
	color: #a7c4d7;
	font-family: "";
	font-size: 11pt;
	padding-left: 15px;
	padding-right: 9px;
	text-align: justify;
}

.TextField {
	color: #1e71a8;
	font-size: 12px;
	width: 168px;
	height: 19px;
	padding-right: 9px;
}

.PopUpButton {
	color: #1e71a8;
	font-size: 12px;
	width: 126px;
	height: 19px;
	padding-right: 9px;
}

#LoginBtn {
	float: right;
	padding-top: 30px;
	padding-right: 270px;
	width: 100px;
}

#ImgCode {
	padding-top: 1px;
	padding-left: 2px;
	float: left;
}

.TextField_ImgCode {
	color: #1e71a8;
	font-size: 12px;
	width: 105px;
	height: 19px;
}

#CopyRight {
	padding-top: 25px;
	padding-left: 450px;
	float: left;
	color: #4c91bf;
	font-size: 12px;
}

#CopyRight A:link {
	COLOR: #4c91bf; TEXT-DECORATION: none
}

#CopyRight A:visited {
	COLOR: #4c91bf; TEXT-DECORATION: none
}

#CopyRight A:active {
	COLOR: #4c91bf; TEXT-DECORATION: none
}

#CopyRight A:hover {
	COLOR: #4c91bf; TEXT-DECORATION: none;
}
