<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<!-- 1.基本配置 -->
		<!--
			<property
			name="connection.driver_class">com.mysql.jdbc.Driver</property>
			<property
			name="connection.url">jdbc:mysql://localhost:3306/bookcms1116</property>
			<property name="connection.username">root</property> <property
			name="connection.password">root</property>
		-->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>



		<!-- 2，其他配置 -->
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<!--
			单独测试hibernate，需要这条属性 否则，no currentsessioncontext configured <property
			name="current_session_context_class">thread</property>
		-->
		<mapping class="com.njit.lib.domain.District" />
		<mapping class="com.njit.lib.domain.Dormitory" />
		<mapping class="com.njit.lib.domain.Area" />
		<mapping class="com.njit.lib.domain.Floor" />
		<mapping class="com.njit.lib.domain.Room" />
		<mapping class="com.njit.lib.domain.Bed" />
		<mapping class="com.njit.lib.domain.User" />
		<mapping class="com.njit.lib.domain.Address" />
		<mapping class="com.njit.lib.domain.Role" />
		<mapping class="com.njit.lib.domain.Advertisement" />
		<mapping class="com.njit.lib.domain.Channel" />
		<mapping class="com.njit.lib.domain.News" />
		<mapping class="com.njit.lib.domain.ElecBook" />
		<mapping class="com.njit.lib.domain.Paper" />
		<mapping class="com.njit.lib.domain.DonateOrder" />
		<mapping class="com.njit.lib.domain.Message" />
		<mapping class="com.njit.lib.domain.Remark" />
		<mapping class="com.njit.lib.domain.Article" />
		<mapping class="com.njit.lib.domain.Book" />
		<mapping class="com.njit.lib.domain.SwapTrade" />
		<mapping class="com.njit.lib.domain.Privilege" />


	</session-factory>

</hibernate-configuration>